body {
  background-color: #E5E5E5;
  font-weight: bold;
}

.carousel-item {
  transition: transform 1s ease-in-out;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 300px !important;
  }
  .card-body {
    height: auto !important;
  }
  .d-flex {
    flex-direction: row
  }
}